:host {
  width: 100%;
}
.stepperItem {
  --dark-font-color: var(--dark-text-color);

  align-items: center;
  display: flex;
  width: 100%;
}
.done {
  --default-font-color: #333;
}
.done .stepperIndex {
  background-color: #cdcdcd;
}
.stepperIndex {
  align-items: center;
  background-color: #aeaeae;
  border-radius: 100%;
  color: #fff;
  display: flex;
  height: 26px;
  justify-content: center;
  margin: 0 8px;
  min-width: 26px;
  width: 26px;
}
.divider {
  background-color: #cdcdcd;
  height: 2px;
  width: 100%;
  margin: 0 8px;
}

.primary.stepperItem {
  --dark-font-color: var(--primary-text-color);
}
.primary.done .stepperIndex {
  background-color: var(--primary-color);
}

.secondary.stepperItem {
  --dark-font-color: var(--secondary-text-color);
}
.secondary.done .stepperIndex {
  background-color: var(--secondary-color);
}
