html,
body {
  margin: 0px;
  font-size: 15px;
  font-family: var(--font-family);
}

:root .none {
  display: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

:root {
  --error-color: rgb(255, 68, 68);
  --error-background-color: #e66465;

  --default-background-color: #efefef;
  --default-color: #333;
  --default-light-color: #fafafa;
  --default-dark-color: #cdcdcd;
  --default-font-color: #565656;

  --primary-color: #ffd54f;
  --primary-light-color: #fff8e1;
  --primary-dark-color: #c8a415;
  --primary-font-color: #333;

  --secondary-color: #64ffda;
  --secondary-light-color: #d0ffff;
  --secondary-dark-color: #14cba8;
  --secondary-font-color: #333;

  --radius: 4px;
  --padding: 1em;

  --card-media-height: 56%;

  --transition: all 0.3s ease-in-out;

  --icon-font-family: 'Material Icons';
  --font-family: 'Source Sans Pro', sans-serif;
}
