html,
body {
  margin: 0px;
  font-size: 15px;
  font-family: var(--font-family);
}

:root .none {
  display: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

body {
  --primary-color: #00e5ff;
  --primary-light-color: #6effff;
  --primary-dark-color: #00b2cc;
  --primary-text-color: #000000;

  --secondary-color: #7c4dff;
  --secondary-light-color: #b47cff;
  --secondary-dark-color: #3f1dcb;
  --secondary-text-color: #ffffff;

  --default-color: #fafafa;
  --default-light-color: #ffffff;
  --default-dark-color: #c7c7c7;
  --default-text-color: #000000;

  --light-color: #f5f5f5;
  --light-text-color: #c2c2c2;

  --dark-color: #263238;
  --dark-text-color: #102027;

  --error-color: #f44336;
  --error-light-color: #ff7961;
  --error-dark-color: #ba000d;
  --error-text-color: #000000;

  --warning-color: #ff9800;
  --warning-light-color: #ffc947;
  --warning-dark-color: #c66900;
  --warning-text-color: #000000;

  --success-color: #8bc34a;
  --success-light-color: #bef67a;
  --success-dark-color: #5a9216;
  --success-text-color: #000000;

  --radius: 2px;
  --padding: 1em;
  --card-media-height: 56%;
  --transition: all 0.3s ease-in-out;
  --icon-font-family: 'Material Icons';
  --font-family: 'Source Sans Pro', Arial, sans-serif;
}
