.avatar {
  background-color: #efefef;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.small {
  border-radius: 18px;
  height: 36px;
  width: 36px;
}

.medium {
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.large {
  border-radius: 444px;
  height: 88px;
  width: 88px;
}
