.arv-avatar {
  background-color: #efefef;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.small {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.medium {
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.large {
  border-radius: 40px;
  height: 80px;
  width: 80px;
}
