.avatar {
  background-color: #efefef;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.small {
  border-radius: 18px;
  height: 36px;
  width: 36px;
}

.medium {
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.large {
  border-radius: 44px;
  height: 88px;
  width: 88px;
}

.xlarge {
  border-radius: 60px;
  height: 120px;
  width: 120px;
}

.xxlarge {
  border-radius: 80px;
  height: 160px;
  width: 160px;
}
