:host(.row) {
  align-items: center;
  display: flex;
}
input {
  background-color: var(--default-bg);
  border-color: var(--default-highlight);
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  color: var(--font-color);
  font-size: 1rem;
  line-height: 2.5em;
  outline: none;
  padding: 0 1.5em;
  transition: background-color 0.3s;
}

input:focus {
  background-color: var(--default-shade);
}

label {
  display: block;
}