:host(.full) {
  width: 100%;
  display: block;
}
.button {
  background-color: #fff;
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  height: 2.2rem;
  outline: none;
  padding: 0 1em;
  transition: all 0.3s ease-out;

  display: flex;
  align-items: center;
  justify-content: center;
}
.boxed {
  border-radius: 0;
}
.default {
  color: var(--default-text-color);
  --default-icon-color: var(--default-text-color);
}
.default:hover {
  background-color: var(--default-dark-color);
}

.arv-button.disabled {
  cursor: not-allowed;
  background-color: #efefef;
}
.arv-button.disabled:hover {
  background-color: #efefef;
}
.full {
  width: 100%;
}

.small {
  font-size: var(--button-font-size, 0.75rem);
  height: var(--button-height, 1.5rem);
}

.large {
  font-size: var(--button-font-size, 1.5rem);
  height: var(--button-height, 3rem);
}
.xlarge {
  font-size: var(--button-font-size, 3rem);
  height: var(--button-height, 6rem);
}

.inherit {
  color: inherit;
  background-color: inherit;
  -dark-text-color: inherit;
}
.primary {
  background-color: var(--primary-color, #009fe5);
  color: var(--primary-font);
  --dark-text-color: var(--primary-text-color);
  --default-icon-color: var(--icon-color, var(--primary-text-color));
}
.primary:hover {
  background-color: var(--primary-dark-color);
}
.primary.bordered,
.primary.flat,
.primary.ghost {
  --default-icon-color: var(--primary-dark-color);
  --dark-text-color: var(--primary-dark-color);
}
.primary.flat:hover {
  background-color: var(--primary-dark-color);
  --default-icon-color: var(--primary-text-color);
  --dark-text-color: var(--primary-text-color);
}

.bordered.error,
.flat.error {
  --default-icon-color: var(--error-text-color);
  --dark-text-color: var(--error-text-color);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  --dark-text-color: var(--secondary-text-color);
  --default-icon-color: var(--icon-color, var(--secondary-text-color));
}
.secondary:hover {
  background-color: var(--secondary-dark-color);
  --default-icon-color: var(--secondary-text-color);
  --dark-text-color: var(--secondary-text-color);
}
.secondary.bordered,
.secondary.flat,
.secondary.ghost {
  --default-icon-color: var(--secondary-dark-color);
  --dark-text-color: var(--secondary-dark-color);
}
.secondary.flat:hover {
  background-color: var(--secondary-dark-color);
  --default-icon-color: var(--secondary-text-color);
  --dark-text-color: var(--secondary-text-color);
}

.warning {
  background-color: var(--warning-color);
  color: var(--warning-text-color);
  --default-icon-color: var(--icon-color, var(--warning-text-color));
}
.warning:hover {
  background-color: var(--warning-dark-color);
}
.bordered.warning,
.flat.warning,
.warning.ghost{
  --default-icon-color: var(--warning-text-color);
  --dark-text-color: var(--warning-text-color);
  color: var(--warning-text-color);
}

/* flat */
.primary.flatIcon,
.primary.bordered,
.primary.flat,
.primary.ghost,
.primary.ghostIcon {
  color: var(--primary-color);
}

.secondary.flatIcon,
.secondary.bordered,
.secondary.flat,
.secondary.ghost,
.secondary.ghostIcon {
  color: var(--secondary-color);
}

.warning.flatIcon,
.warning.bordered,
.warning.flat,
.warning.ghost,
.warning.ghostIcon {
  color: var(--warning-color);
}

/* bordered */
.bordered {
  border-color: var(--default-color);
  border-style: solid;
  border-width: 1px;
  --dark-text-color: var(--default-dark-color);
}
.bordered.primary {
  border-color: var(--primary-color);
  --dark-text-color: var(--primary-dark-color);
}
.bordered.secondary {
  border-color: var(--secondary-color);
  --dark-text-color: var(--secondary-dark-color);
}
.bordered.warning {
  border-color: var(--warning-color);
  --dark-text-color: var(--warning-dark-color);
}
.bordered.error {
  border-color: var(--error-color);
}
.bordered:hover {
  border-color: var(--default-color);
  --dark-text-color: var(--default-text-color);
}
.bordered.primary:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  --default-icon-color: var(--primary-text-color);
  --dark-text-color: var(--primary-text-color);
}
.bordered.secondary:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  --default-icon-color: var(--secondary-text-color);
  --dark-text-color: var(--secondary-text-color);
}
.bordered.warning:hover {
  border-color: var(--warning-color);
  background-color: var(--warning-color);
  --default-icon-color: var(--warning-text-color);
  --dark-text-color: var(--warning-text-color);
}
/* raised */
.raisedIcon,
.raised,
.fab {
  box-shadow: 0 2px 3px rgba(6,6,6,0.2);
}
.raisedIcon:hover,
.raised:hover {
  box-shadow: 0 2px 2px rgba(3, 3, 3, 0.35);
}
.disabled {
  cursor: not-allowed;
}
.disabled.raisedIcon,
.disabled.raisedIcon:hover,
.disabled.raised,
.disabled.raised:hover {
  box-shadow: 0 0 0 transparent;
  background-color: #efefef;
}
.primary.raised:hover {
  background-color: var(--primary-dark-color);
}
.secondary.raised:hover {
  background-color: var(--secondary-dark-color);
}
.warning.raised:hover {
  background-color: var(--warning-dark-color);
}

.flatIcon,
.disabled.flatIcon,
.disabled.flatIcon:hover,
.disabled.bordered:hover,
.disabled.bordered,
.disabled.flat:hover,
.disabled.flat,
.bordered,
.flat {
  background-color: var(--light-color);
}

.ghostIcon .slot,
.flatIcon .slot,
.raisedIcon .slot{
  display: none;
}
.slot {
  margin: 0 8px;
}
.noPad {
  padding: 0 !important;
}

.fab {
  border-radius: 50%;
  height: 56px;
  min-height: 56px;
  min-width: 56px;
  width: 56px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.ghostIcon,
.flatIcon,
.raisedIcon {
  padding: 0 0.5em;
}

.disabled.flatIcon,
.disabled.flat,
.disabled.flat.primary,
.disabled.flat.secondary,
.disabled.flat.light,
.disabled.flat.dark,
.disabled.bordered,
.disabled.bordered.primary,
.disabled.bordered.secondary,
.disabled.bordered.light,
.disabled.bordered.dark,
.disabled.raised {
  --dark-text-color: #8a8a8a;
  --default-icon-color: #8a8a8a;
}

.disabled.raised:hover {
  background-color: #efefef;
}

.light {
  --dark-text-color: var(--light-text-color);
  --default-icon-color: var(--light-text-color);
}
.light:hover {
  background-color: var(--light-color);
  --dark-text-color: var(--dark-text-color);
  --default-icon-color: var(--dark-text-color);
}

.dark {
  --dark-text-color: var(--dark-text-color);
  --default-icon-color: var(--dark-text-color);
}
.dark:hover {
  background-color: var(--dark-color);
  --dark-text-color: var(--light-text-color);
  --default-icon-color: var(--light-text-color);
}
.ghost, 
.ghostIcon {
  background-color: transparent;
}