:host(.full) {
  width: 100%; 
}

.row {
  margin: 15px 0;
}

.column {
  margin: 0 8px;
  width: auto;
}

.bordered {
  border-bottom: 1px solid var(--default-color);
}

.column.bordered {
  border-bottom: 0;
  border-right: 1px solid var(--default-color);
}

.transparent {
  border-color: transparent !important;
}

.noMargin {
  margin: 0 !important;
}