:host {
  width: 100%;
}
.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  min-height: 64px;
  width: 100%;
  z-index: 1;
}
.static {
  position: static;
}
.relative {
  position: relative;
}
.absolute {
  left: 0;
  position: absolute;
  top: 0;
}
.fixed {
  left: 0;
  position: fixed;
  top: 0;
}
.inherit {
  position: inherit;
}

.default {
  background-color: var(--default-color);
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}
.padded { 
  padding: 0.5em 1em;
}
