:host {
  display: flex;
  flex-direction: column;
}
:host(.full) {
  width: 100%;
  display: flex;
}
:host(.full) .control {
  width: 100%;
}
:host(.row) {
  align-items: center;
}
:host(.disabled) .select {
  background-color: var(---disabled-color);
  cursor: not-allowed;
}
:host(.disabled) .value {
  color: var(--disabled-text-color);
}
:host(.disabled) arv-icon {
  --icon-color: var(--disabled-text-color);
}

.items {
  border-radius: var(--radius);
  box-shadow: 0px 2px 2px rgba(3, 3, 3, 0.2);
  box-sizing: border-box;
  display: none;
  margin-bottom: 2em;
  max-height: 300px;
  min-width: 100%;
  outline: none;
  overflow-y: scroll;
  position: absolute;
  z-index: 99;
}

:host(.isOpen) .items {
  display: flex;
  flex-direction: column;
}

:host(.row) label {
  margin: 0 1em;
}

.select {
  align-items: center;
  border-color: var(--default-highlight);
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--default-bg);
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 1.5em;
  transition: all 0.3s;
}

label,
.value {
  line-height: 2.5em;
  min-height: 2.5em;
}

.control {
  position: relative;
}

arv-icon {
  margin: 0 8px;
}

:host(.primary.isOpen) .select,
:host(.primary) .select:hover {
  border-color: var(--primary-color);
}
:host(.secondary.isOpen) .select,
:host(.secondary) .select:hover {
  border-color: var(--secondary-color);
}
:host(.success.isOpen) .select,
:host(.success) .select:hover {
  border-color: var(--success-color);
}
:host(.warning.isOpen) .select,
:host(.warning) .select:hover {
  border-color: var(--warning-color);
}
:host(.danger.isOpen) .select,
:host(.danger) .select:hover {
  border-color: var(--danger-color);
}
:host(.dark.isOpen) .select,
:host(.dark) .select:hover {
  border-color: var(--dark-color);
}
:host(.light.isOpen) .select,
:host(.light) .select:hover {
  border-color: var(--light-color);
}