:host(.full) {
  width: 100%;
}
button {
  background-color: var(--default-bg);
  border-radius: var(--radius);
  border: none;
  color: var(--font-color);
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  padding: 0 1.25em;
  transition: background-color 0.3s;
  width: 100%;
}
button:hover {
  background-color: var(--default-shade);
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
}
.content {
  display: flex;
  line-height: 3em;
}
.boxed {
  border-radius: 0;
}
.primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
.primary:hover {
  background-color: var(--primary-shade);
}
.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}
.secondary:hover {
  background-color: var(--secondary-shade);
}
.success {
  background-color: var(--success-color);
  color: var(--success-text-color);
}
.success:hover {
  background-color: var(--success-shade);
}
.warning {
  background-color: var(--warning-color);
  color: var(--warning-text-color);
}
.warning:hover {
  background-color: var(--warning-shade);
}
.danger {
  background-color: var(--danger-color);
  color: var(--danger-text-color);
}
.danger:hover {
  background-color: var(--danger-shade);
}
.light {
  background-color: var(--light-color);
  color: var(--light-text-color);
}
.dark {
  background-color: var(--dark-color);
  color: var(--dark-text-color);
}
.small {
  font-size: 0.8rem;
}
.large {
  font-size: 1.2rem;
}