.root {
  position: relative;
}

.badge {
  background-color: #efefef;
  color: #000;
  --dark-text-color: #000;
  --default-icon-color: #333;

  box-sizing: border-box;
  border-radius: 10px;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  z-index: 1;
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);

  --dark-text-color: var(--primary-text-color);
  --default-icon-color: var(--primary-text-color);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);

  --dark-text-color: var(--secondary-text-color);
  --default-icon-color: var(--secondary-text-color);
}

.success {
  background-color: var(--success-color);
  color: var(--success-text-color);

  --dark-text-color: var(--success-text-color);
  --default-icon-color: var(--success-text-color);
}

.warning {
  background-color: var(--warning-color);
  color: var(--warning-text-color);

  --dark-text-color: var(--warning-text-color);
  --default-icon-color: var(--warning-text-color);
}

.error {
  background-color: var(--error-color);
  color: var(--error-text-color);

  --dark-text-color: var(--error-text-color);
  --default-icon-color: var(--error-text-color);
}

.small {
  min-width: 10px;
  min-height: 10px;
}
