.more {
  background-color: #eee;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

.more.small {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
}
