@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

:host {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  width: 100vw;
}

.snackbar {
  animation: in 0.3s;
  transform-origin: center;
  background-color: var(--default-bg);
  border-radius: var(--radius);
  box-shadow: 1px 2px 3px rgba(3, 3, 3, 0.3);
  box-sizing: border-box;
  color: var(--font-color);
  margin: 1em;
  padding: 1em 2em;
}

:host(.out) {
  animation: out 0.3s forwards;
}
:host(.verticalCenter) {
  top: calc(100vh - 50%)
}
:host(.bottom) {
  top: auto;
  bottom: 0;
}
:host(.left) {
  justify-content: flex-start;
}
:host(.right) {
  justify-content: flex-end;
}

:host(.primary) .snackbar {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
:host(.secondary) .snackbar {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}
:host(.success) .snackbar {
  background-color: var(--success-color);
  color: var(--success-text-color);
}
:host(.warning) .snackbar {
  background-color: var(--warning-color);
  color: var(--warning-text-color);
}
:host(.danger) .snackbar {
  background-color: var(--danger-color);
  color: var(--danger-text-color);
}
:host(.dark) .snackbar {
  background-color: var(--dark-color);
  color: var(--dark-text-color);
}
:host(.light) .snackbar {
  background-color: var(--light-color);
  color: var(--light-text-color);
}