.root {
  background-color: #FFF;
  border-radius: var(--radius);
  box-shadow: 0 2px 2px rgba(3, 3, 3, 0.1);
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.padded {
  box-sizing: border-box;
  padding: 1em;
}

.transparent {
  background-color: transparent;
}
