.root {
  --dark-text-color: #fff;
  --snackbar-bg: var(--dark-color);
  --default-icon-color: #fff;

  position: fixed;
  z-index: 12;
}

.content {
  border-radius: var(--radius);
  background-color: var(--snackbar-bg);
  padding: 1em 2em;
  box-shadow: 0 2px 1px rgba(3, 3, 3, 0.3);
}

.hCenter {
  transform: translateX(-50%);
}

.error,
.warning,
.success {
  --dark-text-color: var(--dark-text-color, #111);
  --default-icon-color: var(--dark-text-color, #111);
}

.error {
  /* --dark-text-color: #fff; */
  --snackbar-bg: var(--error-color);
}

.warning {
  /* --dark-text-color: #fff; */
  --snackbar-bg: var(--warning-color);
}

.success {
  /* --default-font-color: #fff; */
  --snackbar-bg: var(--success-color);
}
