:host(.full) {
  width: 100%;
}
button {
  background-color: var(--default-bg);
  border-radius: var(--radius);
  border: none;
  color: var(--font-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  padding: 0 0.75em;
  transition: all 0.3s;
  width: 100%;
}
button:hover {
  background-color: var(--default-shade);
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-color) !important;
  color: var(--disabled-text-color) !important;
}
.isIcon {
  padding: 12px;
}
.content {
  align-items: center;
  display: flex;
  line-height: 3em;
}
.boxed {
  border-radius: 0;
}
.primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
.primary:hover {
  background-color: var(--primary-shade);
}
.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}
.secondary:hover {
  background-color: var(--secondary-shade);
}
.success {
  background-color: var(--success-color);
  color: var(--success-text-color);
}
.success:hover {
  background-color: var(--success-shade);
}
.warning {
  background-color: var(--warning-color);
  color: var(--warning-text-color);
}
.warning:hover {
  background-color: var(--warning-shade);
}
.danger {
  background-color: var(--danger-color);
  color: var(--danger-text-color);
}
.danger:hover {
  background-color: var(--danger-shade);
}
.light {
  background-color: var(--light-color);
  color: var(--light-text-color);
}
.light:hover {
  background-color: var(--light-shade);
}
.dark {
  background-color: var(--dark-color);
  color: var(--dark-text-color);
}
.dark:hover {
  background-color: var(--dark-shade);
}
.small {
  font-size: 0.8rem;
}
.large {
  font-size: 1.2rem;
}
.raised {
  box-shadow: 0px 1px 3px rgba(3, 3, 3, 0.3);
}
.raised:hover {
  box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.3);
}
.ghost {
  background-color: transparent;
  color: var(--fonr-color);
}

.primary.ghost:hover {
  color: var(--primary-text-color);
}
.secondary.ghost:hover {
  color: var(--secondary-text-color);
}
.success.ghost:hover {
  color: var(--success-text-color);
}
.warning.ghost:hover {
  color: var(--warning-text-color);
}
.danger.ghost:hover {
  color: var(--danger-text-color);
}
.dark.ghost:hover {
  color: var(--dark-text-color);
}
.light.ghost:hover {
  color: var(--light-text-color);
}
arv-icon {
  margin: 0 4px;
}
.loadingText {
  display: none;
}
:host(.isLoading) .buttonText {
  display: none;
}
:host(.isLoading) .loadingText {
  display: block;
}