#bolt {
  min-height: 400px;
  width: 100%;
}

code {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #141f46;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
}

pre {
  width: 100%;
  box-sizing: border-box;
}

.html-elem {
  color: #ffe000;
}
.html-attr {
  color: #ef40ef;
}
.html-attr-value {
  color: #40ef4d;
}
.html-slot {
  color: #FFF;
}
