:host,
.root {
  overflow: hidden;
  width: 100%;
}
.root {
  display: flex;
  flex-direction: column;
}
.tabBody {
  display: none;
}

.tabBody.loaded {
  display: flex;
  flex-direction: row;
  position: relative;
}
.tabBody.animate {
  transition: left 0.3s;
}

.tabItem {
  cursor: pointer;
  padding-top: var(--tab-vertical-padding, 0.75em);
  padding-bottom: var(--tab-vertical-padding, 0.75em);
  padding-left: var(--tab-horizontal-padding, 1em);
  padding-right: var(--tab-horizontal-padding, 1em);
  text-align: center;
  width: auto;
  transition: all 0.3s;
  border-bottom-color: var(--tab-border, transparent);
  font-size: var(--tab-font-size, 1rem);
}

.tabItem, .filler {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.tabItem.active {
  border-bottom-color: var(--active-tab-border, var(--default-color));
  color: var(--active-tab-text, #333);
}

.tabHeader {
  background-color: var(--tab-color, var(--default-background-color));
  color: var(--tab-text, var(--default-text-color));
}

.tabItem:hover {
  background-color: var(--tab-hover, #efefef);
}

.primary .tabHeader {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.primary .tabItem:hover {
  background-color: var(--primary-dark-color);
}

.primary .tabItem.active {
  border-bottom-color: var(--secondary-color);
}

.secondary .tabHeader {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.secondary .tabItem:hover {
  background-color: var(--secondary-dark-color);
}

.secondary .tabItem.active {
  border-bottom-color: var(--primary-color);
}
.fullHeaderWidth .tabItem {
  width: 100%;
}
.filler {
  width: 100%;
  min-width: 0%;
  background-color: var(--filler-bg, #fff);
  min-height: var(--filler-height, 45px);
  border-bottom-color: var(--filler-border, transparent);
}

.fullHeaderWidth .filler {
  display: none;  
}