:host(.full) {
  width: 100%;
}
.root:hover arv-icon {
  transform: scale(0.9);
  --default-text-color: var(--primary-dark-color);
}
.root {
  position: relative;
}
.value {
  align-items: center;
  background-color: #FFF;
  border-color: #efefef;
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 0.5em 0 1em;
  transition: var(--transition);
  display: flex;
  justify-content: space-between;
}

.value:hover {
  border-color: var(--primary-color);
}

.full,
.inputWrapper {
  width: 100%;
}
arv-icon {
  transition: all 0.3s;
}
.show arv-icon {
  transform: rotate(180deg);
}
.loader {
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 2;
}
