:host(.full) {
  width: 100%;
}

.items {
  position: absolute;
  display: none;
}

:host(.isOpen) .items {
  display: flex;
  flex-direction: column;
}

.select {
  border-radius: var(--radius);
  border: 1px solid #efefef;
  padding: 1em;
}