:host {
  display: flex;
}
:host(.full) {
  width: 100%;
  display: flex;
}
:host(.full) .control {
  width: 100%;
}
:host(.row) {
  align-items: center;
}

.items {
  border-radius: var(--radius);
  box-shadow: 0px 2px 2px rgba(3, 3, 3, 0.2);
  box-sizing: border-box;
  display: none;
  margin-bottom: 2em;
  max-height: 300px;
  min-width: 100%;
  outline: none;
  overflow-y: scroll;
  position: absolute;
  z-index: 99;
}

:host(.isOpen) .items {
  display: flex;
  flex-direction: column;
}

:host(.row) label {
  margin: 0 1em;
}

.select {
  align-items: center;
  border-color: var(--default-highlight);
  border-radius: var(--radius);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 1.5em;
}

label,
.value {
  line-height: 2.5em;
}

.control {
  position: relative;
}

arv-icon {
  margin: 0 8px;
}