:host {
  width: 100%;
}
.stepperItem {
  --default-font-color: #898989;

  align-items: center;
  display: flex;
  width: 100%;
}
.done {
  --default-font-color: #333;
}
.done .stepperIndex {
  background-color: var(--primary-color);
}
.stepperIndex {
  align-items: center;
  background-color: #aeaeae;
  border-radius: 100%;
  color: #fff;
  display: flex;
  height: 26px;
  justify-content: center;
  margin: 0 8px;
  min-width: 26px;
  width: 26px;
}
.divider {
  background-color: #cdcdcd;
  height: 2px;
  width: 100%;
  margin: 0 8px;
}
