.material-icons {
  font-family: var(--icon-font-family, 'Material Icons');
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  margin: 0 0.5em;
  color: var(--default-icon-color);
  transition: all 0.3s;
}

:host {
  display: block;
}

.small {
  font-size: 0.8rem;
}
.medium {
  font-size: var(--icon-size, 1.2rem);
}
.large {
  font-size: var(--icon-size, 2rem);
}
.xlarge {
  font-size: var(--icon-size, 4rem);
}
.xxlarge {
  font-size: 8rem;
}

.noMargin {
  margin: 0;
}

.withButtonIcon {
  margin: 0;
}

.defaultColor {
  color: var(--default-text-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.warning {
  color: var(--warning-color);
}

.success {
  color: var(--success-color);
}

.error {
  color: var(--error-color);
}