.material-icons {
  font-family: var(--icon-font-family, 'Material Icons');
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  margin: 0 0.5em;
  color: var(--icon-color);
  transition: all 0.3s;
}

:host {
  display: block;
}

.small {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.large {
  font-size: 2rem;
  line-height: 2rem;
}

.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color);
}
.warning {
  color: var(--warning-color);
}
.success {
  color: var(--success-color);
}
.danger {
  color: var(--danger-color);
}
.light {
  color: var(--light-color);
}
.dark {
  color: var(--dark-color);
}
