.root {
  background-color: #fff;
  cursor: pointer;
  padding: 0.5em;
  transition: all 0.3s;
}

.root:hover {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.arv-select-option:hover {
  background-color: var(--primary-light-color);
}
.selected,
.selected:hover {
  background-color: var(--primary-color);
}
