.content {
  display: none;
}

.title {
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--default-highlight);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  padding: 0 1em;
  transition: background-color 0.3s;
  background-color: var(--title-bg);
  color: var(--title-color);
}
.content {
  box-sizing: border-box;
  background-color: var(--default-shade);
  padding: 1em;
}
.title:hover {
  background-color: var(--title-bg-hover);
}
:host(.active) .title {
  border-bottom: none;
}
:host(.active) .content {
  display: block;
}
