:host,
.root,
.title,
.content {
  width: 100%;
}
.root {
  background-color: #FFF;
  box-sizing: border-box;
  padding: 0.75em 1em;
  transition: all 0.3s;
  border-bottom: 1px solid #efefef;
}
.title {
  cursor: pointer;
}

.content {
  display: none;
  padding: 1em;
  box-sizing: border-box;
}

.active {
  display: block;
}
