:host,
.root,
.title,
.content {
  width: 100%;
}
.root {
  background-color: #FFF;
  box-sizing: border-box;
  transition: all 0.3s;
  border-bottom: 1px solid #efefef;
}
.root:hover .controls {
  display: block;
}
.header {
  cursor: pointer;
}

.content {
  display: none;
  padding: 0.7em 1em;
  box-sizing: border-box;
}

.controls {
  display: none;
}

.active,
.active .controls,
.active .content
{
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 0.7em 1em;
}