.root {
  cursor: pointer;
  height: 24px;
  min-width: 38px;
  width: 38px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 4px;
}

.bar {
  background-color: var(--default-darker);
  border-radius: 20px;
  width: 100%;
  height: 16px;
}

.circle {
  transition: all 0.3s;
  background-color: var(--default-highlight);
  border-radius: 12px;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  border-color: var(--default-shade);
  border-width: 1px;
  border-style: solid;
}

.circle,
.bar {
  box-shadow: 0px 1px 1px rgba(3,3,3,0.2);
}

.active .circle {
  left: 14px;
  background-color: #fff;
  border-color: var(--default-highlight);
  border-width: 9px;
}

.active .bar {
  background-color: var(--default-shade);
}

.active.primary .circle {
  border-color: var(--primary-highlight);
}
.active.primary .bar {
  background-color: var(--primary-shade);
}

.active.secondary .circle {
  border-color: var(--secondary-highlight);
}
.active.secondary .bar {
  background-color: var(--secondary-shade);
}

.active.success .circle {
  border-color: var(--success-highlight);
}
.active.success .bar {
  background-color: var(--success-shade);
}

.active.warning .circle {
  border-color: var(--warning-highlight);
}
.active.warning .bar {
  background-color: var(--warning-shade);
}

.active.danger .circle {
  border-color: var(--danger-highlight);
}
.active.danger .bar {
  background-color: var(--danger-shade);
}

.active.dark .circle {
  border-color: var(--dark-highlight);
}
.active.dark .bar {
  background-color: var(--dark-shade);
}

.active.light .circle {
  border-color: var(--light-highlight);
}
.active.light .bar {
  background-color: var(--light-shade);
}

.disabled .circle {
  background-color: var(--disabled-color) !important;
  border-color: var(--disabled-highlight) !important;
}
.disabled .bar {
  background-color: var(--disabled-shade) !important;
}
.disabled {
  cursor: not-allowed;
}
