:host {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  overflow-y: scroll;
  padding: 2em;
  width: 100%;
}

#sample {
  background-color: var(--default-shade);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  box-sizing: border-box;
  padding: 2em;
}

footer {
  margin-top: 64px;
  min-height: 1px;
}