:host {
  text-align: center;
  width: 100%;  
}
.root {
  border-radius: 2px;
  padding: 0.5em 1em;
  margin: 0.2em;
}

.error {
  background-color: var(--error-background-color);
  color: var(--error-color);
}

.success {
  border-color: var(--success-color);
  color: var(--success-color);
}
