:host, .root {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #efefef;
}

@keyframes right-to-left {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0%);
  }
}

.content,
.imageContent,
.imageContentItem {
  height: 100%;
}

.imageContent {
  display: flex;
  transform: translateX(-100%);
}

.imageContentItem {
  background-position: center;
  background-size: cover;
  min-width: 100%;
  width: 100%;
}
.control {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.right {
  animation: right-to-left 0.5s reverse ease-in-out;
}

.left {
  animation: right-to-left 0.5s ease-in-out;
}

.control-item {
  --light-text-color: #fff;
  --default-light-color: transparent;
  display: none;
  height: 100%;
  cursor: pointer;
}

.middle {
  display: block;
  width: 100%;
  height: 100%;
}

.root:hover .control-item {
  display: var(--show-controls, block);
}

.control-item__left {
  background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.25) 100%) !important;
}

.control-item__right {
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.25) 100%) !important;
}
