.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages {
  display: flex;
}

.pageItem {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
.pageItem.active {
  color: var(--default-text-color, #fff);
}

.primary .pageItem {
  --default-text-color: var(--primary-dark-color);

  border-color: var(--primary-color);
  color: var(--primary-dark-color);
}
.primary .pageItem.active {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.secondary .pageItem {
  --default-text-color: var(--secondary-dark-color);

  border-color: var(--secondary-color);
  color: var(--secondary-dark-color);
}
.secondary .pageItem.active {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
}

.root:first-child {
  margin-right: 0;
}
.root:last-child {
  margin-left: 0;
}
.pageItem.prev {
  margin-right: 16px;
}
.pageItem.next {
  margin-left: 16px;
}
.pageItem.noBorder {
  cursor: auto;
  border-color: transparent;
}
.invi {
  opacity: 0;
}
