.root {
  display: none;
  font-family: var(--font-family);
  color: var(--dark-text-color);
  transition: all 0.3s;
  font-weight: var(--font-weight, normal);
}
.strike {
  opacity: 0.5;
  text-decoration: line-through;
}
.heading1 {
  font-size: var(--font-size, 2rem);
  line-height: var(--line-height, 2.8rem);
}
.heading2 {
  font-size: var(--font-size, 1.8rem);
  line-height: var(--line-height, 2.4rem);
}
.heading3 {
  font-size: var(--font-size, 1.5rem);
  line-height: var(--line-height, 2.25rem);
}
.heading4 {
  font-size: var(--font-size, 1.2rem);
  line-height: var(--line-height, 1.8rem);
}
.body1 {
  font-size: var(--font-size, 1rem);
  line-height: var(--line-height, 1.5rem);
}
.body2 {
  font-size: var(--font-size, 0.9rem);
  line-height: var(--line-height, 1.3rem);
}
.caption {
  font-size: var(--font-size, 0.9rem);
  line-height: var(--line-height, 1.3rem);
}
.caption2 {
  font-size: var(--font-size, 0.8rem);
  line-height: var(--line-height, 1.5rem);
}
.subtle {
  color: var(--light-text-color);
  font-size: var(--font-size, 0.7rem);
  line-height: var(--line-height, 1rem);
}
.strong {
  font-weight: bold;
}
.noWrap {
  white-space: nowrap;
}
.preWrap {
  white-space: pre-wrap;
}
.primary {
  color: var(--primary-color) !important;
}
.secondary {
  color: var(--secondary-color) !important;
}
.primaryDark {
  color: var(--primary-dark-color) !important;
}
.secondaryDark {
  color: var(--secondary-dark-color) !important;
}
.light {
  color: var(--light-text-color) !important;
}
.dark {
  color: var(--dark-text-color) !important;
}
.warning {
  color: var(--warning-color) !important;
}
.error {
  color: var(--error-color);
}
.success {
  color: var(--success-color);
}
.textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.show {
  display: block;
}
.textShadow {
  text-shadow: 1px 1px 1px rgba(3, 3, 3, 0.8);
}
