.root {
  font-family: var(--font-family);
  color: var(--default-font-color);
}
.strike {
  opacity: 0.5;
  text-decoration: line-through;
}
.heading1 {
  font-size: 2rem;
}
.heading2 {
  font-size: 1.8rem;
}
.heading3 {
  font-size: 1.5rem;
}
.heading4 {
  font-size: 1.2rem;
}
.body1 {
  font-size: 1rem;
}
.body2 {
  font-size: 0.9rem;
}
.caption {
  color: #565656;
  font-size: 0.9rem;
}
.caption2 {
  color: #565656;
  font-size: 0.75rem;
}
.subtle {
  color: #888;
  font-size: 0.7rem;
}
.strong {
  font-weight: bold;
}
.noWrap {
  white-space: nowrap;
}
.preWrap {
  white-space: pre-wrap;
}
.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color);
}