:host(.full) {
  width: 100%;
  --required-color: #d61b34;
}

.input {
  font-family: var(--font-family);
  background-color: #fff;
  border-radius: var(--radius);
  border-width: 1px;
  border-style: solid;
  border-color: #efefef;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
  outline: none;
  padding: 0 1em;
  transition: all 0.3s;
}

.error {
  border-color: var(--error-color);
}

input:hover {
  border-color: var(--primary-color);
}

input:focus {
  background-color: #fff;
}

.full .input {
  flex: 1;
  width: 100%;
}

.column .label {
  align-self: flex-start;
}

.row .label {
  align-self: center;
}

.labelColumn {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8rem;
  margin: 0.5em 0 0;
}

.inputWrapper {
  border-radius: var(--radius);
  position: relative;
  width: 100%;
}

.icon input {
  padding: 0 1em 0 2em;
}

.fileUpload input {
  cursor: pointer;  
  opacity: 0;
  position: relative;
  z-index: 1;
}

.fileUpload.default {
  background-color: var(--default-color);
}

.fileUpload.primary {
  background-color: var(--primary-color);
}

.fileUpload.secondary {
  background-color: var(--secondary-color);
}

.fileUpload .inputWrapper {
  background-color: var(--default-light-color);
}

.fileUpload label {
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 100%;
  top: 3px;
  height: 100%;
  text-align: center;
}

textarea.input {
  resize: none;
  font-size: 0.9rem;
}

.input.large {
  height: 42px;
}

.input:disabled {
  cursor: not-allowed;  
  background-color: #fdfdfd;
  border: #cdcdcd;
}
.required {
  color: var(--required-color);
  margin-left: 5px;
}
