:host(.full) {
  width: 100%;  
}

.input {
  background-color: #fff;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #efefef;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
  outline: none;
  padding: 0 1em;
  transition: all 0.3s;
}

.error {
  border-color: var(--error-color);
}

input:hover {
  border-color: var(--primary-color);
}

input:focus {
  background-color: #fff;
}

.full .input {
  flex: 1;
  width: 100%;
}

.column .label {
  align-self: flex-start;
}

.row .label {
  align-self: center;
}

.labelColumn {
  color: var(--default-color);
  font-size: 0.8rem;
  margin: 0.5em 0;
}
