@keyframes fade-in {
  from { opacity: 0}
  to { opacity: 1}
}

.root {
  /* width: 100%;   */
  position: relative;
  z-index: 9;
}

.root.fixed.show .toolTip{
  display: block;  
}

.root:hover .toolTip{
  display: block;
}

.toolTip {
  animation: fade-in 0.3s;
  display: none;  
  --dark-text-color: #f1f1f1;  
  background-color: rgba(3, 3, 3, 0.65);
  position: absolute;
  border-radius: var(--radius);
  box-sizing: border-box;
  padding: 0px 6px;
}

.top {
  left: 50%;
  transform: translate(-50%, -100%);
  top: -4px;
}

.bottom {
  left: 50%;
  transform: translate(-50%, 100%);
  bottom: -4px;
}

.left {
  left: -4px;
  top: 50%;
  transform: translate(-100%, -50%);
}

.right {
  right: -4px;
  top: 50%;
  transform: translate(100%, -50%);
}

.primary {
  --dark-text-color: var(--primary-text-color);  
  background-color: var(--primary-color);
}

.secondary {
  --dark-text-color: var(--secondary-text-color);  
  background-color: var(--secondary-color);
}

.error {
  --dark-text-color: var(--error-text-color);  
  background-color: var(--error-color);
}

.success {
  --dark-text-color: var(--success-text-color);  
  background-color: var(--success-color);
}