:host {
  width: 100%;
}

:host(.host-full) {
  width: 100%;
  height: 100%;
}

.host-full {
  height: 100%;
  width: 100%;
}

.arv-flex {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.auto {
  width: auto;
  height: auto;
}

.layout-column {
  flex-direction: column;
}

.layout-column-reverse {
  flex-direction: column-reverse;
}

.layout-row-reverse {
  flex-direction: row-reverse;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.items-baseline {
  align-items: baseline;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-stretch {
  align-content: stretch;
}

.content-around {
  align-content: space-around;
}

.content-between {
  align-content: space-between;
}

.order {
  order: var(--order);
}

.self-auto {
  align-self: auto;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-baseline {
  align-self: baseline;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}
.padded {
  box-sizing: border-box;  
  padding: 1em;  
}

.bordered {
  border-radius: var(--radius);
  border-width: 1px;
  border-style: solid;
  border-color: var(--default-light-color);
}

.wrap {
  flex-wrap: wrap;
}
