:host {
  display: flex;
}
:host(.large) {
  --avatar-normal: var(--avatar-large);
}
:host(.small) {
  --avatar-normal: var(--avatar-small);
}
:host(.large) .more {
  font-size: 1.8em;
}
:host(.small) .more {
  font-size: 0.8em;
}
.more {
  width: var(--avatar-normal);
  height: var(--avatar-normal);
  min-width: var(--avatar-normal);
  min-height: var(--avatar-normal);
  background-color: var(--default-shade);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-left: -15%;
  font-size: 1.5em;
}
